body{
    font-family: Lato;
    font-size: 150%;
}

.prod-info{
    text-align: center;
    margin: 10%;
    background-color: #CCCCCC;
    padding-top: 10px;
}


#button_cart{
    margin-left: 90%;
    font-size: 200%;
    align-content: right;
}

#title{
    margin-left: 10px;
}

#Select{
    margin-left: 20px;
}

#Add{
    margin-left: 10px;
    margin-bottom: 20px;
}

#price{
    border: 2px solid grey;
    padding-top: 13px;
    margin-left: 10px;
    padding-right: 10%;
    margin-right: 20px;
}

.prod-photo{
    height: 200px;
    width : 200px;
    object-fit: contain;
}

#products{

    text-align: center;
}

.product{
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.cart_entry{
    border: 2px solid #BBBBBB;
    padding-top: 5px;
}